.ipynb_checkpoints
**/.ipynb_checkpoints

part_1/AppleStore.csv
part_1/artworks.csv
part_1/artworks_clean.csv
part_2/nyc_taxis.csv
part_2/nyc_taxi_data_dictionary.md
part_2/f500.csv
part_2/laptops.csv
part_2/laptops_cleaned.csv
part_2/autos.csv
part_2/WHO_time_series.csv